<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" src="img/css3.png">WANESSA LINDA PRATA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gerenciar
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/Pratica_Profissional/categoria">Categorias</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/cidade">Cidades</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/cliente">Clientes</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/compra">Compras</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/contaContabil">Contas contábeis</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/contaReceber">Contas a receber</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/condicaoPagamento">Condição de pagamento</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/estado">Estados</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/formaPagamento">Formas de pagamento</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/fornecedor">Fornecedores</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/funcionario">Funcionários</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/movimento">Movimentos</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/pais">Países</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/ordemServico">Ordem de serviço</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/produto">Produtos</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/servico">Serviços</a>
                    <a class="dropdown-item" href="/Pratica_Profissional/venda">Vendas</a>
                </div>
            </li>
        </ul>
    </div>
</nav>