@model Pratica_Profissional.ViewModel.FornecedorVM

@{
    ViewBag.Title = "Delete";
    ViewBag.readOnly = true;
}

@using (Html.BeginForm())
{
    <nav aria-label="breadcrumb" style="margin-top:10px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")"><i class="fa fa-list"></i> Lista de fornecedores</a></li>
            <li class="breadcrumb-item active"><i class="fa fa-pencil-square-o" style="margin-top:3px; margin-right:5px"></i> Remover fornecedor</li>
        </ol>
    </nav>

    <div class="form-horizontal">
        <div class="card" style="padding-bottom:16px">
            <h3 class="card-header" style="background-color:lightblue">Remover fornecedor</h3>
            @Html.Partial("Form", Model)
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        $(".form-control").attr("disabled", true);
    })
</script>


<script src="~/Scripts/Cliente/Details.js"></script>