@using Pratica_Profissional.Util.Class;
@using Pratica_Profissional.Util
@model Pratica_Profissional.ViewModel.ContaReceberVM

@{
    ViewBag.Title = "Novo registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.readOnly = false;

}
@using (Html.BeginForm())
{
    @Html.RenderFlashMessage()
    @Html.CustomValidationSummary(true, true, "Ocorreram alguns erros, por favor verifique!!", new { @class = "alert alert-danger", role = "alert" })
    <nav aria-label="breadcrumb" style="margin-top:10px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")"><i class="fa fa-list"></i> Lista de contas a receber</a></li>
            <li class="breadcrumb-item active"><i class="fa fa-plus" style="margin-top:3px; margin-right:5px"></i> Receber conta</li>
        </ol>
    </nav>

    <div class="container">
        <div class="card" style="padding-bottom:16px">
            <h3 class="card-header" style="background-color:lightblue">Recebimento da conta</h3>
            @Html.Partial("Form", Model)
        </div>
    </div>
}

<script src="~/Scripts/Util.js"></script>